@media only screen and (max-width : 600px)  {
/* prettyPhoto styling for small screens */
.pp_pic_holder.pp_default { width: 100%!important; left: 0!important; overflow: hidden; }
div.pp_default .pp_content_container .pp_left { padding-left: 0!important; }
div.pp_default .pp_content_container .pp_right { padding-right: 0!important; }
.pp_content { width: 100%!important; height: auto!important; }
.pp_fade { width: 100%!important; height: 100%!important; }
a.pp_expand, a.pp_contract, .pp_hoverContainer, .pp_gallery, .pp_top, .pp_bottom { display: none!important; }
#pp_full_res img { width: 100%!important; height: auto!important; }
/*.pp_details { width: 94%!important; padding-left: 3%; padding-right: 4%; padding-top: 10px; padding-bottom: 10px; background-color: #fff; margin-top: -2px!important; }
*/a.pp_close { right: 10px!important; top: 10px!important; } 




}


@media only screen and (max-width: 480px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 137px !important;
   
}
}

@media only screen and (max-width: 480px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 131px !important;
}
}

@media only screen and (max-width: 980px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 396px !important;
   
}
}

@media only screen and (max-width: 980px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 396px !important;
}
}


@media only screen and (max-width: 720px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 237px !important;
   
}
}

@media only screen and (max-width: 720px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 237px !important;
    padding-top: 131px !important;
}
}

@media only screen and (max-width: 1280px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 516px !important;
   
}
}

@media only screen and (max-width: 1280px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 516px !important;
}
}

@media only screen and (max-width: 1024px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 396px !important;
   
}
}

@media only screen and (max-width: 1024px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 396px !important;
}
}
@media only screen and (max-width: 900px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 337px !important;
   
}
}

@media only screen and (max-width: 900px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 331px !important;
}
}
@media only screen and (max-width: 600px){
#main-slider .item {
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: 100% !important;
height: 142px !important;
   
}
}

@media only screen and (max-width: 600px){
#cta21 {
    background-position: 50% 0;
    background-repeat: no-repeat;
   background-size: 100% !important;
    height: 137px !important;
    padding-top: 142px !important;
}
}